<!DOCTYPE html>
<html lang="en">
<head>
    <title>All Citizens</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>

     <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous">
    </script>
    
    <script>
        var module=angular.module("citizenModule",[]);
        module.controller("citizenController",function($scope,$http)
        {
            $scope.jsonAry=[];

            $scope.doFetchCitizen=function()
                {
                    $http.get("angular-fetchCitizens").then(allGood,errKuch)
                    function allGood(result)
                        {
                            alert(JSON.stringify(result.data));
                            $scope.jsonAry=result.data;
                        }

                    function errKuch(err)
                        {
                            alert(err);
                        }
                }
        })

    </script>
</head>
<body ng-app="citizenModule" ng-controller="citizenController">

    <div class="container mt-2">

        <!---------------HEADING--------------->
        <div class="row bg-primary text-white text-center">
            <h2>All Citizens Records</h2>
        </div>

        <!-----------------FETCH BTN------------------>
        <div class="text-center mt-2 mb-2">
            <button class="btn btn-success" ng-click="doFetchCitizen()">Fetch Citizens</button>
        </div>
       
        <!----------------TABLE------------------>
        <div class="table-responsive">
        <table class="table table-striped">
            <thead class="table-dark">
                <tr>
                  <th>Sr.No</th> <th>Email id</th> <th>Name</th> <th>Number</th> <th> Address</th> <th>City</th> <th>Gender</th> <th>Father</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="obj in jsonAry">
                    <td>{{$index+1}}</td>
                    <td>{{obj.citizenEmail}}</td>
                    <td>{{obj.citizenName}}</td>
                    <td>{{obj.citizenNo}}</td>
                    <td>{{obj.citizenAddress}}</td>
                    <td>{{obj.citizenCity}}</td>
                    <td>{{obj.citizenGender}}</td>
                    <td>{{obj.citizenFather}}</td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</body>
</html>